*#
**/*.rs.bk
*.db
*.db-journal
*.db-shm
*.db-wal
*.duckdb
*.log
*~
.#*
.*DS_Store
.DS_Store
.env
.vscode
.zed
Cargo.lock
cargo-flamegraph.trace
debug
dhat.*
flamegraph*.svg
license.html
perf.data*
profile.json*
target
