[package]
name = "tansu-topic"
edition.workspace = true
version.workspace = true
license.workspace = true
publish = false

[dependencies]
futures-core.workspace = true
futures-util.workspace = true
futures.workspace = true
tansu-kafka-sans-io = { path = "../tansu-kafka-sans-io" }
thiserror.workspace = true
tokio-util.workspace = true
tokio.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
url.workspace = true
