---
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: tansu
    metrics_path: /metrics
    scrape_interval: 5s
    static_configs:
      - targets:
          - host.docker.internal:9100
    metric_relabel_configs:
      - action: labeldrop
        regex: ^exported_instance$
      - action: labeldrop
        regex: ^exported_job
  - job_name: minio-job
    metrics_path: /minio/v2/metrics/cluster
    scrape_interval: 60s
    scheme: http
    static_configs:
      - targets:
          - minio:9000
