[package]
name = "tansu-storage"
edition.workspace = true
version.workspace = true
license.workspace = true
publish = false

# [lints]
# workspace = true

[dependencies]
async-trait.workspace = true
bytes.workspace = true
deadpool-postgres.workspace = true
deadpool.workspace = true
futures-core.workspace = true
futures-util.workspace = true
futures.workspace = true
glob.workspace = true
object_store.workspace = true
opentelemetry-semantic-conventions.workspace = true
opentelemetry.workspace = true
protobuf.workspace = true
rand.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
tansu-kafka-sans-io = { path = "../tansu-kafka-sans-io" }
tansu-schema-registry = { path = "../tansu-schema-registry" }
thiserror.workspace = true
tokio-postgres.workspace = true
tokio.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
url.workspace = true
uuid.workspace = true

[dev-dependencies]
criterion.workspace = true
tempfile.workspace = true
time.workspace = true
tracing-subscriber.workspace = true

[[bench]]
name = "segment_bench"
harness = false
